* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

header {
  width: 100%;
  background-color: #fff;
}
header h1 {
  padding: 10px;
  margin: 0;
  text-align: center;
}

.winning_result,
.failing_result {
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: #eee;
  font-size: 28px;
  position: fixed;
  left: 0;
  top: 0;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
}
.winning_result canvas,
.failing_result canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.winning_result p,
.failing_result p {
  width: 100%;
  position: relative;
  z-index: 3;
}
.winning_result button,
.failing_result button {
  margin-top: 15px;
  background-color: #009788;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 10px;
  font-weight: bold;
  margin-right: 8px;
  position: relative;
  z-index: 3;
}
.winning_result.show,
.failing_result.show {
  transform: scale(1);
}

.failing_result {
  background-color: #262626;
}
.failing_result p {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 0;
  width: 80%;
}
@media (max-width: 800px) {
  main {
    width: 100%;
    flex-wrap: wrap;
  }
}
main .game_content {
  width: 60%;
  text-align: center;
}
@media (max-width: 800px) {
  main .game_content {
    width: 100%;
    margin-bottom: 30px;
  }
}
main .game_content .trail {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
main .game_content .trail p {
  font-weight: bold;
}
main .game_content .trail span {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #000;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 4px;
  font-weight: bold;
}
main .game_content .trail span.focus {
  border: 3px solid rgba(1, 11, 158, 0.3411764706);
}
@media (max-width: 800px) {
  main .game_content .trail span {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 500px) {
  main .game_content .trail span {
    width: 36px;
    height: 36px;
  }
}
main .game_content .trail span.in_place {
  border-bottom-color: orange;
  background-color: rgba(255, 165, 0, 0.5);
  color: #fff;
}
main .game_content .trail span.not_in_place {
  border-bottom-color: green;
  background-color: rgba(0, 128, 0, 0.5);
  color: #fff;
}
main .game_content .trail span.not_exist {
  border-bottom-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
main .game_content .trail.not_checked span {
  opacity: 0.6;
}
main .game_content .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
main .game_content .actions button {
  width: 250px;
  background-color: #a70b0b;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}
main .game_content .actions p {
  background-color: #009788;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
main .game_guide {
  width: 40%;
}
@media (max-width: 800px) {
  main .game_guide {
    width: 70%;
  }
}
@media (max-width: 500px) {
  main .game_guide {
    width: 80%;
  }
}
main .game_guide > p {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
main .game_guide .guide_item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .game_guide .guide_item span {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #eee;
}
main .game_guide .guide_item.in_place span {
  background-color: orange;
}
main .game_guide .guide_item.not_in_place span {
  background-color: green;
}
main .game_guide .guide_item.not_exist span {
  background-color: black;
}/*# sourceMappingURL=style.css.map */