* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

header {
  width: 100%;
  background-color: #fff;

  h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
}

.winning_result,
.failing_result {
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: #eee;
  font-size: 28px;
  position: fixed;
  left: 0;
  top: 0;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;

  canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  p {
    width: 100%;
    position: relative;
    z-index: 3;
  }

  button {
    margin-top: 15px;
    background-color: #009788;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px;
    font-weight: bold;
    margin-right: 8px;
    position: relative;
    z-index: 3;
  }

  &.show {
    transform: scale(1);
  }
}

.failing_result {
  background-color: #262626;

  p {
    color: #fff;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 0;
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
    flex-wrap: wrap;
  }

  .game_content {
    width: 60%;
    text-align: center;

    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 30px;
    }

    .trail {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      p {
        font-weight: bold;
      }

      span {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 3px solid #000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 4px;
        font-weight: bold;

        &.focus {
          border: 3px solid #010b9e57;
        }

        @media (max-width: 800px) {
          width: 42px;
          height: 42px;
        }

        @media (max-width: 500px) {
          width: 36px;
          height: 36px;
        }

        &.in_place {
          border-bottom-color: orange;
          background-color: rgba($color: orange, $alpha: 0.5);
          color: #fff;
        }

        &.not_in_place {
          border-bottom-color: green;
          background-color: rgba($color: green, $alpha: 0.5);
          color: #fff;
        }

        &.not_exist {
          border-bottom-color: black;
          background-color: rgba($color: #000000, $alpha: 0.5);
          color: #fff;
        }
      }

      &.not_checked {
        span {
          opacity: 0.6;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      button {
        width: 250px;
        background-color: #a70b0b;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        border: 0;
        outline: 0;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 8px;
      }

      p {
        background-color: #009788;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .game_guide {
    width: 40%;

    @media (max-width: 800px) {
      width: 70%;
    }

    @media (max-width: 500px) {
      width: 80%;
    }

    & > p {
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }

    .guide_item {
      background-color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-color: #eee;
      }

      &.in_place {
        span {
          background-color: orange;
        }
      }

      &.not_in_place {
        span {
          background-color: green;
        }
      }

      &.not_exist {
        span {
          background-color: black;
        }
      }
    }
  }
}
